#navlogo {
    width: 15%;
    height: auto;
    max-width: 100%;
    
}
#head{
    width: 28%;
}
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #3f3d3a;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
/* Media Query for smaller screens */
@media only screen and (max-width: 600px) {
    form {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px) and (min-height: 554px) {
    #navlogo {
        
        width: 40%; /* Adjust the width as needed for the larger screen size */
        height: auto;
        max-width: none; /* Remove the max-width constraint for larger screens */
    }
    #head{
        width: 50%;
    }
    form{
        font-size: medium;
        width: 85%;
        padding: 10px;
    }
}
