{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Start of the content -->

  <div class="pt-3">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto text-center p-4">
          <h1 class="font-weight-bold"><strong>Contact Us</strong></h1><br>
          <p class="fs-5">We would love to hear from you! Reach out to us on smartpicker@gmail.com or use the form below to share any feedback or if you have any questions.</p>
        </div>
      </div>
    </div>

    <div class="text-top">
        <form action="" method="post" encrypt="multipart/form-data" style="max-width: 400px;">
            {% csrf_token %}
            <input type="email" id="contactemail" name="contactemail" placeholder="Your Email" required>
            <textarea id="contactmsg" name="contactmsg" placeholder="Type your message here" required style="height: 100px; width:100%"></textarea>
            <br><br>
            <button type="submit" onclick="message()">Submit</button>
        </form><br>
    </div><br>


    <!-- Start of the disclaimer -->
    <div class="p-4 mx-auto" style="max-width: 1100px;">
      <h1 class="font-weight-bold"><strong>About SmartPicker</strong></h1><br>
      <p class="fs-6">SmartPicker, is a unique tool dedicated to assisting individuals coping with anxiety by offering a completely random approach to decision-making. The project is meticulously designed to eliminate any bias in option selection and, instead, relies solely on randomness to choose an option from a given set of choices.<br><br>
  
        The application's core functionality is based on a true random selection method. Users input their options into the system, and with a click or tap, SmartPicker randomly chooses one option without any predetermined criteria. This intentional lack of basis ensures that the selection process is entirely arbitrary, providing users with a decision-making experience free from external influences or patterns.<br><br>
        
        The interface of SmartPicker remains user-friendly and uncomplicated, reinforcing the simplicity of its approach. By removing the burden of decision-making from users, the application aims to reduce the anxiety associated with making choices. This emphasis on randomness not only distinguishes SmartPicker but also underscores its commitment to providing a fair and impartial decision-making process for users dealing with anxiety.<br><br>
        
        Ultimately, SmartPicker stands as a valuable resource for individuals seeking relief from decision-related stress. By embracing randomness as its guiding principle, the web application offers a novel and unbiased solution to empower users in their decision-making journeys, fostering a sense of control and ease amidst the challenges of anxiety.</p>
    </div>
        
      <br><br><br><br>

    <!-- End of the disclaimer -->

    
  </div>
  <!-- End of the content -->

  
{% endblock content%}
