{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Start of the content -->

  <div class=" pt-4">
      
     <div class="p-3 ">
        <br>
        <form action="" method="post" style="width:350px; background-color:#fcfafa; box-shadow: 8px 15px 10px rgba(0, 0, 0, 0.1);">
          {% csrf_token %}
          <h3 class="text-center">Join with us</h3>

            <label for="option">Username :</label>
            <input type="text" name="username" required >
            <label for="option">Password :</label>
            <input type="text" name="password" required ><br>
            <button type="submit" class="d-block mx-auto">Log in</button><br>

            <div class="text-center"> 
                Dont have a account? <a href="{% url 'signup' %}">Sign up</a>
            </div>
        </form>
      </div>
  </div>

  <!-- End of the content -->

  
{% endblock content%}