{% extends "base.html" %}

{% load static %}

{% block content %}
  <!-- Start of the content -->
  <div class="pt-4">
    <div class="text-center">
      <br>
      <!-- Display the header logo -->
      <img src={% static "Logo/png/head.png" %} alt="" id="head">
    </div>
    
    <div class="p-3">
        {% if num == 0 %}
        <!-- Form to input options if num is 0 -->
        <form action="" method="get">
          {% csrf_token %}
            <label for="options">Add the options:<br>(Enter all options using a comma ",")</label>
            <input type="text" id="options" name="options" required>
            <label for="numoptions">How many options should SmartPicker choose:</label>
            <input type="number" id="numoptions" name="numoptions" placeholder="In numbers" value="1" required>
            <button type="submit">Choose</button>
        </form><br><br><br>
       {% endif %}
    </div>
  </div>
  <!-- End of the content -->

  <!-- Start of the result -->
  <div class="text-center">
    {% if num == 1 %}
        <div class="text-xl text-secondary">
            <!-- Display the selected options -->
            <h3>Options are :</h3>
            {% for i in option %}
                &nbsp;#{{i|capfirst}}
            {% endfor %}
            <br><br>
        </div>
        <div class="result">
            {% if message == None %}
                <!-- Display the selected options by SmartPicker -->
                <h2>SmartPicker selected 
                    {% for j in multiple_option %}
                        *{{j|upper}}
                    {% endfor %}
                </h2>
            {% else %}
                <!-- Display an error message if there's an issue -->
                <h3>{{message}}</h3>
            {% endif %}
            <!-- Retry button linking to the 'multiSelection' URL -->
            <a href={% url 'multiSelection' %}><button>Retry</button></a>
          </div><br><br><br><br>
          {% endif %}
        </div>
      
        <!-- Start of the disclaimer -->
        <div class="p-4 mx-auto" style="max-width: 1100px;">
          <h1 class="font-weight-bold"><strong>About SmartPicker</strong></h1><br>
          <p class="fs-6">SmartPicker, is a unique tool dedicated to assisting individuals coping with anxiety by offering a completely random approach to decision-making. The project is meticulously designed to eliminate any bias in option selection and, instead, relies solely on randomness to choose an option from a given set of choices.<br><br>
      
            The application's core functionality is based on a true random selection method. Users input their options into the system, and with a click or tap, SmartPicker randomly chooses one option without any predetermined criteria. This intentional lack of basis ensures that the selection process is entirely arbitrary, providing users with a decision-making experience free from external influences or patterns.<br><br>
            
            The interface of SmartPicker remains user-friendly and uncomplicated, reinforcing the simplicity of its approach. By removing the burden of decision-making from users, the application aims to reduce the anxiety associated with making choices. This emphasis on randomness not only distinguishes SmartPicker but also underscores its commitment to providing a fair and impartial decision-making process for users dealing with anxiety.<br><br>
            
            Ultimately, SmartPicker stands as a valuable resource for individuals seeking relief from decision-related stress. By embracing randomness as its guiding principle, the web application offers a novel and unbiased solution to empower users in their decision-making journeys, fostering a sense of control and ease amidst the challenges of anxiety.</p>
        </div>

  <br><br><br><br>

  <!-- End of the disclaimer -->
  
  <!-- End of the result -->
{% endblock content %}
