{% extends "base.html" %}

{% load static %}

{% block content %}
  <!-- Start of the content -->
  <div class="pt-4">
    <div class="text-center">
      <br>
      <!-- Display the header logo -->
      <img src={% static "Logo/png/head.png" %} alt="" id="head">
    </div>
    
    <div class="p-3">
        {% if num == 0 %}
        <!-- Form to input options if num is 0 -->
        <form action="" method="get">
          {% csrf_token %}
            <label for="options">Add the options:<br>(Enter all options using a comma ",")</label>
            <input type="text" id="options" name="options" required>
            <label for="numoptions">How many options should SmartPicker choose:</label>
            <input type="number" id="numoptions" name="numoptions" placeholder="In numbers" value="1" required>
            <button type="submit">Choose</button>
        </form><br><br><br>
       {% endif %}
    </div>
  </div>
  <!-- End of the content -->

  <!-- Start of the result -->
  <div class="text-center">
    {% if num == 1 %}
        <div class="text-xl text-secondary">
            <!-- Display the selected options -->
            <h3>Options are :</h3>
            {% for i in option %}
                &nbsp;#{{i|capfirst}}
            {% endfor %}
            <br><br>
        </div>
        <div class="result">
            {% if message == None %}
                <!-- Display the selected options by SmartPicker -->
                <h2>SmartPicker selected 
                    {% for j in multiple_option %}
                        *{{j|upper}}
                    {% endfor %}
                </h2>
            {% else %}
                <!-- Display an error message if there's an issue -->
                <h3>{{message}}</h3>
            {% endif %}
            <!-- Retry button linking to the 'multiSelection' URL -->
            <a href={% url 'multiSelection' %}><button>Retry</button></a>
        </div>
    {% endif %}
  </div>

  <!-- Start of the disclaimer -->
  <div class="col-md-8 mx-auto text-center p-2">
    <h1 class="font-weight-bold"><strong>Disclaimer</strong></h1><br>
    <p class="fs-6">This project aims to assist individuals dealing with anxiety by providing a solution to help them make decisions. The tool facilitates the selection of an option from a set of choices in a random manner, reducing decision-related stress for users. This approach is designed to offer a simple and unbiased way for people with anxiety to make choices, promoting a sense of relief and empowerment in decision-making processes.</p>
  </div>

  <br><br><br><br>

  <!-- End of the disclaimer -->
  
  <!-- End of the result -->
{% endblock content %}
